{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Storage{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Seu Logo ou Nome</h1>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/produtos/">Produtos</a></li>
                <!-- ... adicione mais links de navegação ... -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo da página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <!-- Rodapé do site -->
    </footer>
</body>
</html>
