{% extends 'base.html' %}

{% block content %}
<div class="usercreate-body">
    <div class="usercreate-form">

        <p><a href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i>  Voltar</a></p>
        <h2> Criar Vendedor</h2>
        
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}"><i class="fas fa-user"></i> Nome de Usuário:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}"><i class="fas fa-lock"></i> Senha:</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}"><i class="fas fa-lock"></i> Confirmação de Senha:</label>
                {{ form.password2 }}
            </div>
            <div class="form-group">
                <label for="{{ form.departamento.id_for_label }}"><i class="fas fa-building"></i> Departamento:</label>
                {{ form.departamento }}
            </div>
            <div class="form-group">
                <label for="{{ form.foto.id_for_label }}"><i class="fas fa-camera"></i> Foto:</label>
                {{ form.foto }}
            </div>
            
            <button type="submit"><i class="fas fa-check"></i> Criar Vendedor</button>
        </form>
    </div>
</div>
{% endblock %}
