{% extends 'base.html' %}

{% block content %}
    <h2>Criar Novo Usuário e Vendedor</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password2.label_tag }} {{ form.password2 }}
        
        {{ form.departamento.label_tag }} {{ form.departamento }}
        {{ form.foto.label_tag }} {{ form.foto }}
        
        <button type="submit">Criar Usuário e Vendedor</button>
    </form>
{% endblock %}
