{% extends 'base.html' %}

{% block content %}
<div class="container-detalhes">

  <div class="bloco-detalhes">
    <p><a href="{% url 'lista_produtos' %}">Voltar</a></p>
    <h1>{{ produto.nome }}</h1>
    
    <div class="produto-content">
      <div class="produto-image">
        <!-- {% if produto.foto %}
           <img src="{{ produto.foto.url }}" alt="{{ produto.nome }}">
        {% endif %}-->
      </div>
      
      <div class="produto-details">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <span class="label">
              {{ form.nome.label_tag }}
            </span>
            
            {{ form.nome }}
          </div>
          <div class="form-group">
            <span class="label">
              {{ form.preco.label_tag }}
            </span>
            
            {{ form.preco }}
          </div>
          <div class="form-group">
            <span class="label">
              {{ form.descricao.label_tag }}
            </span>
            
            {{ form.descricao }}
          </div>
          <div class="form-group">
            <span class="label">
              {{ form.quantidade.label_tag }}
            </span>
            
            {{ form.quantidade }}
          </div>
          <button class="botao-salvar" type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
