{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="content">
    
    <div class="home-content">
        <h2>Bem-vindo {{user.username}}</h2>
        <div class="buttons">
    
            <a href="#">
                <h4>Produtos</h4>
            </a>
    
            <a href="#">
                <h4>Funcionários</h4>
            </a>
            <a href="#">
                <h4>Categorias</h4>
            </a>
    
        </div>
        <a class="logout-home" href="{% url 'logout' %}">
            <i class="fa-solid fa-right-from-bracket"></i>

            Sair
            
        </a>
    </div>

</div>
{% else %}
<div class="content">
    
    <div class="home-content">
        <h2>Bem-vindo Funcionário</h2>
        <div class="buttons">
    
            <a href="{% url 'login' %}">
                <h4>Entrar</h4>
            </a>
    
        </div>
    </div>

</div>

{% endif %}
{% endblock %}