{% extends 'base.html' %}

{% block content %}
<div class="products-body">
    <div class="produtos-container">
        {% for produto in page %}
        <div class="produto-card">
            <a href="{% url 'detalhes_produto' produto.id %}">
                <div class="produto-content">
                    <h2>{{ produto.nome }}</h2>
                    <p>Preço: R$ {{ produto.preco }}</p>
                    <p>Quantidade: {{ produto.quantidade }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; Primeira Página</a> / 
            <a href="?page={{ page.previous_page_number }}">Pagina Anterior</a>
        {% endif %}

        <span class="current-page">
            Página {{ page.number }} de {{ page.paginator.num_pages }}. -
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Próxima Página</a>

             / 
            <a href="?page={{ page.paginator.num_pages }}">Última Página &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
