{% extends 'base.html' %}
{% block title %}Login{% endblock title %}


{% block content %}
<div class="login">
    
    <div class="login-content">
      <h2><i class="fa-solid fa-arrow-right"></i> Login</h2>
        <div class="form-login">
    
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
          </form>
        </div>
    </div>
    <p class="login-warning">Atenção : a criação de logins é somente realizada pela gerência !</p>

</div>
{% endblock %}


<!--
<i class="fa-solid fa-user"></i>
<i class="fa-solid fa-lock"></i>
 -->
