:root{
    --prim-color:#577593;
    --sec-color: #182f46;
    --white-color:#e8ecf0;
    --black-color:#010a12;
    --shadow-bot: 0px 6px 10px rgba(0, 0, 0, 0.2);;
}

.header{
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    background: var(--sec-color);
    box-shadow: var(--shadow-bot);

}
.header-items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}
.header-items li{
    margin: 15px;
    color: var(--white-color);
    font-weight: 500;
}
.header-items a{
    color: var(--white-color);
    font-weight: 500;
}
.title{
    color: var(--white-color);
}

.content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--prim-color);
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--sec-color);
    padding: 45px;
    border-radius: 15px;
    box-shadow: var(--shadow-bot);
}
.home-content h2{
    margin-bottom: 20px;
    color: var(--white-color);
}
.buttons h4{
    margin-bottom: 25px;
    padding: 15px;
    background: var(--black-color);
    text-align: center;
    border-radius: 8px;
    color: var(--white-color);
    box-shadow: var(--shadow-bot);
}